.page__products:not(:last-child) {
  @include adaptiveValue("margin-bottom", 65, 50);
}

.products {
  &__title {
    text-transform: uppercase;
    @include adaptiveValue("font-size", 50, 28);

    &:not(:last-child) {
      margin-bottom: em(20, 50);
    }
  }

  &__descr {
    max-width: rem(465);

    &:not(:last-child) {
      margin-bottom: em(41, 24);
    }
  }

  &__container {
    align-items: center;
    row-gap: rem(114);
  }

  &__left,
  &__right {
    position: relative;
    grid-column: span 6;
    border-radius: rem(18);
    @extend %bg-cov;
  }

  &__left:nth-child(4n + 1),
  &__right:nth-child(4n) {
    border: 1px solid rgba(255, 255, 255, 0.06);
  }

  &__left {
    margin-right: rem(40);
  }

  &__button {
    grid-column: 3 / span 8;
    background: #352d27;

    &:last-child {
      margin-top: rem(-45);
    }
  }

  &__picture-1 {
    position: absolute;
    object-fit: cover;
    bottom: 0;
    left: -2%;
    width: 120%;
    height: 122%;
  }

  &__picture-2_1,
  &__picture-2_2 {
    position: absolute;
    object-fit: cover;
  }
  &__picture-2_1 {
    left: 0;
    top: 0;
    height: 100%;
    width: 90%;
  }
  &__picture-2_2 {
    right: -28%;
    top: -4%;
    width: rem(440);
    height: rem(350);
  }

  &__picture-3 {
    position: absolute;
    top: rem(-31);
    left: rem(-88);
    width: rem(410);
    height: rem(410);
    filter: drop-shadow(4.06488px -99.9174px 80px rgba(162, 122, 85, 0.07))
      drop-shadow(2.63464px -64.7612px 46.8519px rgba(162, 122, 85, 0.0531481))
      drop-shadow(1.56573px -38.4867px 25.4815px rgba(162, 122, 85, 0.0425185))
      drop-shadow(0.812976px -19.9835px 13px rgba(162, 122, 85, 0.035))
      drop-shadow(0.331212px -8.14141px 6.51852px rgba(162, 122, 85, 0.0274815))
      drop-shadow(
        0.0752755px -1.85032px 3.14815px rgba(162, 122, 85, 0.0168519)
      );
  }
}
