//<BUTTONS (a.btn+tab)>
// Снипет (HTML): btn

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: rem(10);
  padding: rem(13.5) rem(22);
  border-radius: rem(30);
  background-color: var(--clr-accent);

  text-align: center;
  font-weight: 500;
  line-height: 140%;
  leading-trim: both;
  text-edge: cap;
  letter-spacing: -0.01em;
  color: var(--clr-black);
  transition: background-color 0.3s ease 0s;

  @include adaptiveValue("font-size", 18, 15);

  svg {
    flex: 0 0 rem(27);
    width: rem(27);
    height: rem(27);
    object-fit: contain;

    //== 576px ==//
    @media(max-width: $mb-m) {
      flex: 0 0 rem(22);
      width: rem(22);
      height: rem(22);
    }
  }

  @media (any-hover: hover) {
    &:hover {
      background-color: #e99134;
    }
  }

  &__label {
    padding: rem(6) rem(12);
    background-color: #bf1d17;
    border-radius: rem(12);

    font-weight: 600;
    line-height: 140%;
    leading-trim: both;
    text-edge: cap;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: var(--clr-white);
    @include adaptiveValue("font-size", 13, 11);
  }

  &._fw {
    width: 100%;
    padding: rem(27) rem(23);
    border: 1px solid rgba(255, 255, 255, 0.06);
    border-radius: rem(10);
    text-transform: uppercase;

    @include adaptiveValue("font-size", 17, 15);

    //== 768px ==//
    @media(max-width: $mb) {
      padding: rem(23) rem(20);
    }
    //== 576px ==//
    @media(max-width: $mb-m) {
      padding: rem(17) rem(20);
    }
  }

  &._squared {
    padding: rem(18) rem(27) rem(25) rem(23);
    box-shadow:
      0px 10px 35px -15px #d97e39,
      inset 0px -4px 4px #e99134;
    border-radius: rem(12);

    font-weight: 600;
    line-height: 140%;
    transition: background-color 0.3s ease 0s, box-shadow 0.3s ease 0s;
    @include adaptiveValue("font-size", 19, 15);

    @media(any-hover: hover) {
      &:hover {
        background-color: #e99134;
        box-shadow:
        0px 10px 35px -15px #e99134,
        inset 0px -4px 4px var(--clr-accent);
      }
    }

    //== 992px ==//
    @media(max-width: $tb) {
      padding: rem(16) rem(24) rem(20);
    }
    //== 576px ==//
    @media(max-width: $mb-m) {
      padding: rem(12) rem(20) rem(16);
    }
  }

  &._dark {
    background: rgba(241, 230, 218, 0.08);
    color: var(--clr-white);

    @media(any-hover: hover) {
      &:hover {
        background: rgba(241, 230, 218, 0.18);
      }
    }
  }

  &._white {
    background-color: #F3F1ED;
  }
}
