.logo {
  display: block;
  position: relative;
  z-index: 31;
  flex: 0 0 rem(89);
  width: rem(89);
  height: rem(101);

  //== 1200px ==//
  @media(max-width: $note-m) {
    height: rem(90);
  }
  //== 576px ==//
  @media(max-width: $mb-m) {
    height: rem(75);
  }
  //== 440px ==//
  @media(max-width: $mb-s) {
    height: rem(60);
  }

  img {
    position: absolute;
    width: 100%;
    height: 100%;
    right: rem(-3);
  }
}
