.slide {
  height: 100%;
  margin: 0 rem(13);
  background: #f3f1ed;
  border: 1px solid rgba(255, 255, 255, 0.06);
  border-radius: rem(14);
  padding: rem(11);

  &:focus {
    outline: none;
  }

  //== 768px ==//
  @media(max-width: $mb) {
    margin: 0 rem(8);
  }

  &__img-ibg {
    @extend %ibg;
    padding-bottom: percent(278, 390);

    img {
      border-radius: rem(14);
    }

    &:not(:last-child) {
      margin-bottom: rem(28);

      //== 576px ==//
      @media(max-width: $mb-m) {
        margin-bottom: rem(23);
      }
    }
  }

  &__content {
    padding: 0 rem(22) rem(24);

    //== 576px ==//
    @media(max-width: $mb-m) {
      padding: 0 rem(12) rem(18);
    }
  }

  &__title {
    font-weight: 500;
    line-height: 100%;
    letter-spacing: -0.03em;
    color: #352d27;
    @include adaptiveValue("font-size", 30, 20);

    &:not(:last-child) {
      margin-bottom: rem(7);
    }
  }

  &__descr {
    line-height: 140%;
    color: rgba(53, 45, 39, 0.65);
    @include adaptiveValue("font-size", 17, 15);

    &:not(:last-child) {
      margin-bottom: em(41, 17);

      //== 768px ==//
      @media(max-width: $mb) {
        margin-bottom: rem(15);
      }
    }
  }

  &__button {
    margin-top: auto;
    flex-wrap: wrap;
  }
}
