[hidden] {
  display: none;
}

.big-title {
  font-family: MursGothic;
  font-weight: 800;
  line-height: 100%;
  letter-spacing: -0.03em;
  @include adaptiveValue("font-size", 70, 30);
}

.title {
  font-family: MursGothic;
  font-weight: 800;
  line-height: 100%;
  letter-spacing: -0.03em;
  text-transform: uppercase;

  @include adaptiveValue("font-size", 55, 28);
}

.main-title {
  font-family: MursGothic;
  font-weight: 800;
  line-height: 1;
  letter-spacing: -0.03em;

  @include adaptiveValue("font-size", 60, 29);
}

.small-title {
    font-family: MursGothic;
    font-weight: 800;
    line-height: 100%;
    letter-spacing: -0.03em;
    @include adaptiveValue("font-size", 45, 22);
}

.center {
  max-width: rem(768);
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: rem(26);

  //== 768px ==//
  @media(max-width: $mb) {
    grid-template-columns: repeat(6, 1fr);
  }
}

._red {
  color: var(--clr-red);
}

._cover {
  overflow: hidden;
  max-width: 92.6%;
  margin-left: auto;
  margin-right: auto;
  background-color: #ECE8DF;

  color: var(--clr-black);
  border-radius: rem(14);

  @include adaptiveValue("padding-top", 133, 60);
  @include adaptiveValue("padding-bottom", 94, 45);
}

.fancybox-slide--html .fancybox-close-small {
  padding: 5px;
}
