.footer {
  @include adaptiveValue("padding-top", 55, 40);
  @include adaptiveValue("padding-bottom", 90, 55);

  &__container {
    display: flex;
    gap: rem(20);

    //== 1200px ==//
    @media(max-width: $note-m) {
      justify-content: space-between;
    }
    //== 992px ==//
    @media(max-width: $tb) {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
    }
    @media(max-width: em(649.98)) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  &__logo-block {
    @extend %fl-c-st;
    gap: rem(6);

    &:not(:last-child) {
      margin-right: rem(143);

      //== 1200px ==//
      @media(max-width: $note-m) {
        margin-right: 0;
      }
    }
    //== 992px ==//
    @media(max-width: $tb) {
      grid-column: span 6;
      display: grid;
      grid-template-columns: rem(89) 1fr;
      align-items: end;
    }
    //== 992px ==//
    @media(max-width: $tb) {
      .footer__link {
        text-align: right;
      }
      a.footer__link {
        text-align: right;
      }
      span.footer__link {
        align-self: start;
      }
    }
    @media(max-width: em(649.98)) {
      column-gap: rem(40);
    }
  }

  &__logo {
    flex: 0 0 rem(136);
    width: rem(136);
    height: rem(98);
    &:not(:last-child) {
      margin-bottom: rem(14);

      //== 992px ==//
      @media(max-width: $tb) {
        margin-bottom: 0;
      }
    }
    //== 992px ==//
    @media(max-width: $tb) {
      grid-row: span 2;
    }
    //== 576px ==//
    @media(max-width: $mb-m) {
      height: rem(80);
      img {
        right: auto;
        left: rem(-10);
      }
    }
  }

  &__link {
    line-height: 140%;
    leading-trim: both;
    text-edge: cap;
    color: rgba(236, 232, 223, 0.5);
    transition: color 0.3s ease 0s;
    @include adaptiveValue("font-size", 16, 12);

    @media(any-hover: hover) {
      &:hover {
        color: rgba(236, 232, 223, 0.8);
      }
    }
  }

  &__navigation {
    display: flex;
    gap: rem(92);
    margin-right: auto;
    //== 1200px ==//
    @media(min-width: $note-m) {
      padding-top: rem(40);
    }
    //== 1200px ==//
    @media(max-width: $note-m) {
      gap: rem(20);
      margin-right: 0; 
    }
    //== 992px ==//
    @media(max-width: $tb) {
      grid-column: span 3;
    }
    @media(max-width: em(649.98)) {
      gap: rem(40);
    }
  }

  &__navigation-block {
    display: flex;
    flex-direction: column;
    gap: rem(15);
  }

  &__navigation-list {
    display: flex;
    flex-direction: column;
    gap: rem(10);
  }

  &__navigation-link {
    display: block;
    line-height: 140%;
    leading-trim: both;
    text-edge: cap;
    transition: color 0.3s ease 0s;
    @include adaptiveValue("font-size", 18, 14);

    @media(any-hover: hover) {
      &:hover {
        color: var(--clr-accent);
      }
    }
  }

  &__navigation-title {
    font-weight: 800;
    line-height: 140%;
    leading-trim: both;
    text-edge: cap;
    text-transform: uppercase;
    color: rgba(236, 232, 223, 0.3);
    @include adaptiveValue("font-size", 16, 13);
  }

  &__social-block .footer__link {
    @include adaptiveValue("font-size", 18, 14);
  }

  &__social {
    gap: rem(14);
    .social__icon {
      flex: 0 0 rem(24);
      width: rem(24);
      height: rem(24);

      //== 1200px ==//
      @media(max-width: $note-m) {
        flex: 0 0 rem(20);
        width: rem(20);
        height: rem(20);
      }
    }
    .social__phone {
      font-size: rem(30);

      //== 1200px ==//
      @media(max-width: $note-m) {
        font-size: rem(24);
      }
    }
  }

  &__social-block {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: rem(3);

    //== 1200px ==//
    @media(min-width: $note-m) {
      padding-top: rem(34);
    }
    //== 992px ==//
    @media(max-width: $tb) {
      grid-column: span 3;
    }
    @media(max-width: em(649.98)) {
      align-items: center;
    }
  }

  &__button {
    &:last-child {
      margin-top: rem(14);
    }
  }
}
