.header {
  position: absolute;
  z-index: 30;
  width: 100%;
  top: 0;
  left: 0;

  &__wrapper {
    position: fixed;
    display: flex;
    align-items: center;
    z-index: 29;
    top: 0;
    left: 0;
    width: 100vw;
    min-height: var(--header-height);
    transition: all 0.32s ease-in-out;
    ._header-scroll & {
      background-color: rgba(0, 0, 0, 0.8);
      transform: translateY(-125%);
    }
    ._header-scroll._header-show & {
      transform: translateY(0);
    }
  }

  &__container {
    width: 100%;
    gap: rem(20);
    @extend %fl-r-ctb;

    //== 992px ==//
    @media(max-width: $tb) {
      justify-content: flex-end;
    }
  }

  &__logo {
    &:not(:last-child) {
      margin-right: rem(70);

      @media (max-width: $pc) {
        margin-right: 0;
      }
      //== 992px ==//
      @media(max-width: $tb) {
        margin-right: auto;
      }
    }
  }

  &__menu {
    &:not(:last-child) {
      margin-right: rem(70);

      @media (max-width: $pc) {
        margin-right: 0;
      }
    }
  }

  &__actions {
    @extend %fl-r-ct;
    gap: rem(10);

    //== 1200px ==//
    @media(max-width: $note-m) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      row-gap: rem(3);
    }
    //== 992px ==//
    @media(max-width: $tb) {
      display: flex;
    }
    //== 440px ==//
    @media(max-width: $mb-s) {
      display: none;
    }
  }

  &__social {
    &:not(:last-child) {
      margin-right: rem(16);

      //== 1200px ==//
      @media(max-width: $note-m) {
        margin-right: 0;
      }
    }

    @media(max-width: $note-m) {
      grid-column: span 2;
      justify-content: center;
    }
  }

  &__catalog {
    .catalog__button {
      //== 1200px ==//
      @media(max-width: $note-m) {
        width: 100%;
      }
    }
    //== 992px ==//
    @media(max-width: $tb) {
      display: none;
    }
  }

  &__button {
    //== 768px ==//
    @media(max-width: $mb) {
      display: none;
    }
  }
}
